html {
    width: 100%;
}

body {
    font-family: "Courier New";
    height: calc(100% - $footer-height);
}

.zero-auto-margin {
    margin: 0 auto;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

input:invalid {
    border: 1px solid red;
}

.table {
    display: block;
    width: 600px;
    border: solid;
    border-width: thin;
}

.th {
    font-weight: bold;
    text-align: center;
    background-color: #ddd;
    border: solid;
    border-width: thin;
}

.tr, th {
    clear: both;  
}

.td {
    display: table-cell;
    padding-left: 5px;
    padding-right: 5px;
}

